// .banner {
//   max-height: 562px;

//   img {
//     width: 100%;
//   }
// }

.carousel-container {
  width: 100%;
  padding-bottom: 8%;
  min-height: 150px;
  max-height: 562px;
  overflow: hidden;
  position: relative;

  a {
    text-decoration: none;
  }

  .list {
    width: 600%;
    height: 150px;
    position: absolute;
    z-index: 1;

    img {
      float: left;
      width: 100 / 6 * 1%;
    }
  }

  .slide {
    position: absolute;
    width: 100%;
    bottom: 20px;
    z-index: 2;
  }

  .slide-buttons {
    height: 10px;
    width: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;

    span {
      cursor: pointer;
      float: left;
      border: 1px solid #fff;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #333;
    }

    .on {
      background: #000;
    }
  }

  .arrow {
    cursor: pointer;
    display: none;
    line-height: 39px;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 2;
    top: 40%;
    background: rgba(0,0,0,.3);
    color: #fff;

    &:hover {
      background-color: rgba(0,0,0,.7);
    }
  }

  &:hover .arrow {
    display: block;
  }

  #prev {
    left: 20px;
  }
  #next {
    right: 20px;
  }
}

@media (min-width: 480px) {
  .carousel-container {
    min-height: 210px;
  }
}
@media (min-width: 568px) {
  .carousel-container {
    min-height: 240px;
  }
}
@media (min-width: 676px) {
  .carousel-container {
    min-height: 284px;
  }
}
@media (min-width: 768px) {
  .carousel-container {
    min-height: 315px;
  }
}