@mixin flex_space_around{
  display: flex;
  justify-content: space-around;
}

.library-container {
  padding: 20px 10px;
  padding-bottom: 0;

  .library-item-list {
    @include flex_space_around;

    .library-item{
      background-size: cover;
      background-position: 50%;
      text-decoration: none;
      color: #000;
      display: block;

      flex: 1;

      margin-right: 8px;
      margin-bottom: 8px;
      position: relative;    
      max-height: 164px;
      min-height: 120px;
      overflow: hidden;
      padding-bottom: 6%;

      .library-item-name{
        position: absolute;
        font-size: 19px;
        font-weight: bold;
        left: 14px;
        top: 14px;
        color: white;
        line-height: 1.3em;
      }
      .library-item-icon{
        position: absolute;
        font-size: 36px;
        bottom: 14px;
        right: 14px;
        color: white;
      }
      .css-item-cover{
        width: 100%;
        height: 100%;
        opacity: 0.6;
        position: absolute;
      }
    }
    .library-item:last-child{
      margin-right: 0px;
    }
  }
}