@import '../parm';

@mixin text_overflow($line:2) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}
@mixin p_ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: keep-all;
}

.article-smimg {
  border-top: 1px solid $color-line;  
  border-bottom: 1px solid $color-line;  

  .head {
    height: 45px;
    line-height: 45px;
    margin-left: 10px;
    font-size: $h5-size;
    color: $color-gray;
    border-bottom: 1px solid $color-line;

    span {
      padding-left: 8px;
      border-left: 2px solid $color-main;
    }
  }

  nav {
    margin: 0 0 0 10px;

    .article-cell {
      position: relative;
      display: flex;
      flex-direction: row;
      padding: 10px 10px 10px 0;


      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        background: $color-line;
        width: 100%;
        height: 1px;
      }

      .cell-img {
        flex: 0 0 100px;
        margin: auto;
        height: 75px;
        padding: 5px 0;
        overflow: hidden;
        img {
          display: block;
          height: 100%;
          width: 100%;
        }
      }
      .content {
        flex: auto;
        overflow: hidden;
        margin-right: 14px;

        .title {
          margin-bottom: 2px;
          color: $color-black;
          width: 100%;
          font-size: $h4-size;
        }
        .description {
          font-size: $h5-size;
          color: $color-gray;
          @include text_overflow(2);
        }
        .time {
          font-size: $h5-size;
          color: $color-gray-light;
        }
      }
    }   

  }
  .more-tag {
    height: 49px;
    line-height: 49px;
    color: $color-main;
    font-size: $h3-size;
    display: flex;
    margin: 0 10px;
    justify-content: space-between;
  }
}
.article-default {
  nav {
    :last-child:before {
      content: none;
    }
    .title {
      @include p_ellipsis;
    }
  }
}
.article-more {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
      @include text_overflow(2)
    }
  }
}
.article-lgimg {
  border-top: 1px solid $color-line;

  .article-cell {
    padding: 15px 10px;
    position: relative;
    border-bottom: 1px solid $color-line;

    .cell-img {
      padding-bottom: 50%;
      background-position: 50%;
      background-size: cover;
    }
    .content {
      .title {
        margin: 4px 0;
        color: $color-black;
        @include text_overflow(3)
      }
      .description {
        color: $color-gray;

        .date {
          display: inline-block;
        }
      }
    }
  }
  .article-with-anthor {
    .anthor{
      float: right;
    }
  }
}
.article-onlytitle{
  border-top: 1px solid $color-line;
  
  .noinfo {
    height: 49px;
    padding: 0 10px;
    border-bottom: 1px solid $color-line;

    .title {
      line-height: 49px;
      @include p_ellipsis;
    }
  }
  .withinfo {
    margin-left: 10px;
    padding: 15px 15px 15px 0;
    border-bottom: 1px solid $color-line;

    .title {
      margin-bottom: 4px;
      @include text_overflow(2)
    }
    .description {
      font-size: $h5-size;
      color: $color-gray;
      @include text_overflow(2)
    }
  }
}
.article-midimg {
  border-top: 1px solid $color-line;
  
  .article-cell {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid $color-line;
    margin-left: 10px;
    padding: 10px 10px 10px 0;

    .cell-img {
      flex: 0 0 110px;
      height: 110px;
      background-size: cover;
      background-position: 50%;
    }
    .content {
      margin-right: 10px;
      flex: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .description {
        font-size: $h5-size;
        color: $color-gray;
        @include text_overflow(2)
      }
    }
  }
  .with-title-day {
    .content {
      justify-content: space-between;
      .date,.anthor {
        font-size: $h6-size;
        color: $color-gray-light;
      }
    }
  }
}