.spinner-cell{
	min-height: 50px;
	display: flex;
	align-items: center;
	padding: 0 10px;
	
	.cell-title{
		flex: 1;
	}
	.cell-value{
		color: #888;
		display: flex;
		align-items: center;
	}
	.spinner-snake{
		animation: spinner-rotate .8s infinite linear;
		border: 4px solid transparent;
		border-radius: 50%;
	}
}

@keyframes spinner-rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
    transform: rotate(360deg);
	}
}

$colorcircle-border-size: 14%;
// $colorcircle-startColor: #ff0000;
// $spincolor-1:$colorcircle-startColor;
// $spincolor-2:spin($colorcircle-startColor,60);
// $spincolor-3:spin($colorcircle-startColor,120);
// $spincolor-4:spin($colorcircle-startColor,180);
// $spincolor-5:spin($colorcircle-startColor,240);
// $spincolor-6:spin($colorcircle-startColor,300);

// @mixin cgrad($origin: left,$start: #fff,$stop: #000) {
// 	background-color: $start;
// 	background-image: linear-gradient($origin, $start $colorcircle-adjust, $stop 100-$colorcircle-adjust);
// }

// @mixin cskew($origin , $deg){
// 	transform-origin: $origin;
// 	transform: skew($deg);
// }

.colorcircle{
	width: 30px;
	height: 30px;
	margin: auto;
	position: relative;
	overflow: hidden;
	animation: spinner-rotate .8s infinite linear;

	.centerWrap{
		width: 100%;
		height: 100%;
		border-radius: 50%;
		box-shadow: 0 0 0 50px #fff;
		box-shadow: inset 0 0 8px rgba(0,0,0,0.4), 0 0 0 50px #fff;

		&:before{
			content: '';
			position: absolute;
			display: block;
			width: 100 - $colorcircle-border-size*2;
			height: 100 - $colorcircle-border-size*2;
			top: $colorcircle-border-size;
			left: $colorcircle-border-size;
			border-radius: 50%;
			background: #fff;
			box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
		}
	}

	div {
	  position: absolute;
	  width: 50%;
	  height: 50%;

		&:first-child,&:nth-child(4) {
			left: 50%;
			width: 57.74%;
			margin-left: -28.87%;
		}
		&:first-child {
			background-image: linear-gradient(90deg, #fff 12%, rgb(220,220,220) 88%);
		}
		&:nth-child(2) {
			left: 50%;
			transform-origin: bottom;
			transform: skewX(150deg);
			background-image: linear-gradient(150deg, rgb(220,220,220) 12%, rgb(191,191,191) 88%);
		}
		&:nth-child(3) {
			transform-origin: bottom;
			transform: skewX(30deg);
			background-image: linear-gradient(30deg, rgb(83,83,83) 12%, rgb(49,49,49) 88%);
		}
		&:nth-child(4) {
			top: 50%;
			background-image: linear-gradient(90deg, rgb(125,125,125) 12%, rgb(160,160,160) 88%);
		}
		&:nth-child(5) {
			left: 50%;
			top: 50%;
			transform-origin: top;
			transform: skewX(30deg);
			background-image: linear-gradient(30deg, rgb(160,160,160) 12%, rgb(191,191,191) 88%);
		}
		&:nth-child(6) {
			top: 50%;
			transform-origin: top;
			transform: skewX(150deg);
			background-image: linear-gradient(150deg, rgb(83,83,83) 12%, rgb(125,125,125) 88%);
		}
	}
}