@import '../parm';

@mixin item-flex-warp {
  display: flex;
  flex-wrap: wrap;
}

.category-container{
  width: 100%;
  background: #fff;
  
  .category-main{
    display: flex;
    justify-content:space-around;
    padding: 10px;
    background: #fff;


    .category-main-item{
      flex:1;
      overflow: hidden;
      position: relative;
      background: $color-main;
      height: 49px;
      margin-right: 10px;
      border-radius: 4px;

      p{
        position: absolute;
        font-size: $h3;
        color: #fff;
        line-height: 49px;
        left: 10px;
        z-index: 10;
        color: black;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-break: keep-all;
        width: 85%;
      }

      i{
        position: absolute;
        right: 10px;
        bottom: 0;
        font-size: 1.8em;
        color: $color-main-dark;
        opacity: .6;
      }
    }

    :last-child{
      margin-right: 0;
    }
  }

  .category-default{
    padding: 5px 0;
    background: #fff;
    display: flex;

    .category-pri-item{
      flex: 1;
      text-align: center;
      overflow: hidden;

      p{
        font-size: $h5;
        color: black;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-break: keep-all;
      }
      i{
        margin: 5px 0 4px;
        font-size: 1.1em;
        color: black;
      }
    }
  }

  .category-lof5{
    width: 100%;
    padding: 10px 0;
    background: #fff;
    
    .category-lof5-row{
      display: flex;
      margin: 0 10px 5px;
      overflow: scroll;

      .category-icon-item{
        flex: 1 0 20%;
        text-align: center;
        overflow: hidden;
        
        .icon-item-bg{
          width: 37px;
          height: 37px;
          border-radius: 50%;
          margin: 5px auto 0;
          i{
            line-height: 37px;
            font-size: 1em;
            color: black;
          }
        }
        p{
          font-size: $h6;
          color: black;
          margin: auto;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          word-break: keep-all;
        }

      }
    }

    :last-child{
      margin-bottom: 0;
    }
  }

  .category-lof2-left{
    @include item-flex-warp;

    .lof2-left-item{
      flex: 0 0 50%;
      overflow: hidden;
      
      .item-container{
        border-right: 1px solid $color-line;
        margin: 8px 0 8px 10px;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        
        .item-txt{
          flex: auto;
          overflow: hidden;

          p{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-break: keep-all;
          }
          .title{
            color: #000;
            font-size: $h3;
          }
          .describe{
            color:$color-gray;
            font-size: $h6;
          }
        }
        i{
          text-align: center;
          flex: 0 0 1.3em;
          font-size: 2.6em;
        }
      }
    }
  }

  .category-lof2-right{
    @include item-flex-warp;
    
    .lof2-right-item{
      flex: 0 0 50%;
      overflow: hidden;
      
      .item-container{
        padding: 8px 10px;
        border: 1px solid $color-line;
        border-left: none;
        border-top: none;
        display: flex;
        align-items:center;
        
        .item-txt{
          flex: auto;
          margin-left: 10px;
          overflow: hidden;

          p{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-break: keep-all;
          }

          .title{
            color: #000;
            font-size: $h3;
          }
          .describe{
            color:$color-gray;
            font-size: $h6;
          }
        }

        .icon-bg{
          flex: 0 0 37px;
          width: 37px;
          height: 37px;
          border-radius: 50%;
          text-align: center;
          line-height: 37px;
          
          i{
            font-size: 1em;
            color: #fff;
          }
        }

      }
    }
  }

  .category-lof1{
    display: flex;
    flex-direction: column;

    .lof1-item{
      margin: 0 0 0 10px;
      display: flex;
      align-items:center;
      .icon-bg{
        flex: 0 0 37px;
        width: 37px;
        height: 37px;
        border-radius: 50%;
        text-align: center;
        line-height: 37px;
        i{
          font-size: 1em;
          color: #fff;
        }
      }

      .item-txt{
        flex: auto;
        margin-left: 10px;
        padding: 10px 0px;
        overflow: hidden;
        border-bottom: 1px solid $color-line;

        p{
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          word-break: keep-all;
        }
        .title{
          font-size: $h4;
          color: #000;
        }
        .describe{
          font-size: $h6;
          color: $color-gray;
        }
      }
    }
  }

  .category-lof1-noinfo{
    display: flex;
    flex-direction: column;

    .lof1-nodes-item{
      margin: 0 0 0 10px;
      display: flex;
      align-items: center;

      .icon-bg{
        flex: 0 0 33px;
        width: 33px;
        height: 33px;
        border-radius: 50%;
        text-align: center;
        line-height: 33px;
        i{
          font-size: 0.8em;
          color: #fff;
        }
      }

      .item-txt{
        flex: auto;
        margin-left: 10px;
        height: 49px;
        line-height: 49px;
        overflow: hidden;
        border-bottom: 1px solid $color-line;
        p{
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          word-break: keep-all;
        }
        .title{
          font-size: $h3;
          color: #000;
        }
      }
    }
  }

  .category-lof1-nobg{
    display: flex;
    flex-direction: column;

    .lof1-icon-item{
      display: flex;
      align-items: center;
      margin-left: 12px;
      border-bottom: 1px solid $color-line;
      
      i{
        flex: 0 0 16px;
        font-size: 1em;
        text-align: center;
      }
      .item-txt{
        flex: auto;
        height: 49px;
        line-height: 49px;
        margin-left: 12px;
        overflow: hidden;
        
        p{
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          word-break: keep-all;
        }
        .title{
          font-size: $h3;
          color: #000;
        }
      }
    }
  }
}