@import '../parm';

@mixin item-flex-warp {
  display: flex;
  flex-wrap: wrap;
}
@mixin p_ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: keep-all;
}

.category-main{
  display: flex;
  justify-content:space-around;
  padding: 10px 20px;
  background: #fff;

  .category-item{
    flex:1;
    overflow: hidden;
    position: relative;
    background: $color-main;
    height: 49px;
    margin-right: 10px;
    border-radius: 4px;

    p{
      @include p_ellipsis;
      color: #fff;
      position: absolute;
      font-size: $h3-size;
      color: #fff;
      line-height: 49px;
      left: 10px;
      z-index: 10;
      width: 85%;
    }

    i{
      position: absolute;
      right: 10px;
      bottom: 0;
      font-size: 1.8em;
      color: $color-main-dark;
      opacity: .6;
    }
  }

  :last-child{
    margin-right: 0;
  }
}

.category-lof5{
  width: 100%;
  padding: 10px 0;
  background: #fff;
  display: flex;
  overflow: auto;
  
  &.nobg i {
    color: $color-black;
  }
  &.withbg i {
    color: #fff;
  }
  .category-item{
    flex: 1 0 20%;
    text-align: center;
    overflow: hidden;
    
    .icon-bg{
      width: 37px;
      height: 37px;
      border-radius: 50%;
      margin: 5px auto 0;

      i{
        line-height: 37px;
        font-size: 1em;
      }
    }
    p{
      padding: 5px;
      font-size: $h6-size;
      color: $color-black;
      margin: auto;
      @include p_ellipsis;
    }
  }
  :last-child{
    margin-bottom: 0;
  }
}

.category-lof2 {
  @include item-flex-warp;

  .category-item {
    flex: 0 0 50%;
    overflow: hidden;

    .item-wrapper {
      display: flex;
      align-items: center;

      .info {
        flex: auto;
        overflow: hidden;

        p{
          @include p_ellipsis;
        }

        .title{
          color: #000;
          font-size: $h3-size;
        }
        .describes{
          color:$color-gray;
          font-size: $h6-size;
        }
      }
    }
  }
  
  &.left {
    .category-item{
      .item-wrapper{
        border-right: 1px solid $color-line;
        margin: 8px 0 8px 10px;
        flex-direction: row-reverse;

        .icon-bg {
          padding: 0 5px;

          i{
            text-align: center;
            flex: 0 0 1.3em;
            font-size: 2.6em;
          }
        }
      }
    }

  }
  &.right {
    .category-item{
      .item-wrapper{
        padding: 8px 10px;
        border: 1px solid $color-line;
        border-left: none;
        border-top: none;

        .info{
          margin-left: 10px;
        }
        .icon-bg{
          flex: 0 0 37px;
          width: 37px;
          height: 37px;
          border-radius: 50%;
          text-align: center;
          line-height: 37px;
          
          i{
            font-size: 1em;
            color: #fff;
          }
        }

      }
    }
    :nth-last-child(1),:nth-last-child(2) {
      .item-wrapper {
        border-bottom: none;
      }
    }

  }
  :nth-child(2n) {
    .item-wrapper {
      border-right: none;
    }
  }
}

.category-lof1 {
  display: flex;
  flex-direction: column;

  .category-item {
    margin: 0 0 0 10px;

    .item-wrapper {
      display: flex;
      align-items:center;
    
      .icon-bg {
        flex: 0 0 37px;
        width: 37px;
        height: 37px;
        border-radius: 50%;
        text-align: center;
        line-height: 37px;
        
        i {
          font-size: 1em;
          color: #fff;
        }
      }

      .info {
        flex: auto;
        margin-left: 10px;
        padding: 10px 0px;
        overflow: hidden;
        border-bottom: 1px solid $color-line;

        p {
          width: 100%;
          @include p_ellipsis;
        }
        .title {
          font-size: $h4-size;
          color: #000;
        }
        .describes {
          font-size: $h6-size;
          color: $color-gray;
        }
      }
    }
  }
}