$color-main:hsl(13,97%,67%);
$color-main-dark:hsl(14,77%,51%);
$color-black:hsl(0,0%,13%);
$color-gray:hsl(0,0%,53%);
$color-gray-light:hsl(0,0%,70%);
$color-line-dark:hsl(0,0%,82%);
$color-line:hsl(0,0%,89%);
$color-background:hsl(0,0%,94%);
$color-success:hsl(119,92%,38%);
$color-error:hsl(359,76%,56%);
$color-notice:hsl(218,92%,60%);

$normal:1;
$default:.4;
$disable:.2;

$h1:22px;
$h2:18px;
$h3:17px;
$h4:16px;
$h5:14px;
$h6:13px;

@mixin img-size($side:80px) {
	width: $side;
	height: $side;
}