@import 'parm';

$lineHeight: 1.6em;

html{
  font-size: 16px;
}
h1{
  line-height: $lineHeight;
  font-size: 22px;  
}
h2{
  line-height: $lineHeight;
  font-size: 18px;
}
h3{
  line-height: $lineHeight;
  font-size: 17px;
}
h4{
  line-height: $lineHeight;
  font-size: 16px;
}
h5{
  line-height: $lineHeight;
  font-size: 14px;
}
h6{
  line-height: $lineHeight;
  font-size: 13px;
}

input{
  -webkit-appearance: none;
  border-radius: 0;
}

input[type="button"], input[type="submit"], input[type="reset"] {
  -webkit-appearance: button;
}

textarea {  
  -webkit-appearance: none;
}   


// .button-group{
//  background: #fff;
// }
// .button-group>*{
//  margin-bottom: 15px;
// }
  .btn {
    display: inline-block;
    text-align: center;
    padding: 10px 12px;
    border-radius: 4px;
    border: none;
    outline: none;
    box-sizing: border-box;
    &.disabled {
      pointer-events: none;
      cursor: not-allowed;
      box-shadow: none;
    }
  }
  .btn-large {
    width: 100%;
    padding: 14px 0px;
    font-size: $h2-size;
    font-weight: bold;
  }
  .btn-mini {
    padding: 12px 15px;
  }
  // .disabled {
  //  opacity: $disable;
  // }
  //btn-primary
    .btn-primary {
      background: $color-main;
      color: #fff;

      &.active,&:active {
        background: $color-main-dark;
        color: #fff;
      }
      &.disabled,&:disabled {
        opacity: $disable;
        color: #fff;
      }
    }

  //btn-primary-line
    .btn-primary-line{
      border: 1px solid $color-main;
      color: $color-main;
      background: #fff;
      &.active,&:active {
        border: 1px solid $color-main-dark;
        color: $color-main-dark;
        background: #fff;
      }
      &.disabled,&:disabled {
        border: 1px solid $color-main-dark;
        color: $color-main-dark;
        background: #fff;
        opacity: $disable;
      }
    }
  //btn-default
    .btn-default{
      background: $color-line;
      color: #000;
      &.active,&:active {
        background: $color-line-dark;
        color: #000;
      }
      &.disabled,&:disabled {
        background: $color-line;
        color: #000;
        opacity: $disable;
      }
    }
  //btn-default-line
    .btn-default-line{
      background: #fff;
      border: 1px solid $color-gray;
      color: #000;
      &.active,&:active {
        border: 1px solid #000;
      }
      &.disabled,&:disabled {
        border: 1px solid #000;
        opacity: $disable;
      }
    }