@import 'parm';

$lineHeight: 1.6em;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, "苹方", "思源黑体", "黑体";
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
}

html {
  font-size: 10px;
}
body {
  font-size: 16px;
  line-height: $lineHeight;
}
h1 {
  font-size: 22px;
  line-height: $lineHeight;
}
h2 {
  font-size: 18px;
  line-height: $lineHeight;
}
h3 {
  font-size: 17px;
  line-height: $lineHeight;
}
h4 {
  font-size: 16px;
  line-height: $lineHeight;
}
h5 {
  font-size: 14px;
  line-height: $lineHeight;
}
h6 {
  font-size: 13px;
  line-height: $lineHeight;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

input[type="button"], input[type="submit"], input[type="reset"] {
  -webkit-appearance: button;
}

textarea {
  -webkit-appearance: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}