@import '../parm';

$collapse-bg:url('/assets/library/collapse_bg.jpg');

.collapse-panel {
  border-top: 1px solid #000;
  overflow:hidden;

  &.active {

    .collapse-body {
      visibility: visible;
    }
  }

  .collapse-heading {
    width: 100%;
    padding: 0 20px;
    height: 49px;
    background: white;
    border-bottom: 0;
    display: flex;
    cursor:pointer;
    font-weight: normal;
    z-index:50;
    
    .collapse-title {
      line-height: 49px;
      flex: auto;
      font-weight: 500;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-break: keep-all;
    }

    .fa {
      width: 20px;
      padding: 0 20px;
      line-height: 49px;
      display: none;
     
      &.left {
        margin-left: -20px;
      }
     
      &.right {
        margin-right: -20px;
      }
    }
  }

  .collapse-body {
    visibility: hidden;
    height: 0;
    background: #fff;
    transition-timing-function: ease;
    transition-duration: .35s;
    transition-property: height, visibility;
    position: relative;
  }

  .collapse-content {
    font-size: $h3-size;
    border-top: 1px solid #fff;
    padding: 9px 15px;
  }

  &:first-child {
    border-top: none;
  }
}

.primary {
  .collapse-panel {
    border-top: 1px solid #fff;
    background-color: $color-main;

    .collapse-heading {
      color: white;
      background: $collapse-bg;
      background-size: cover;

      .collapse-title {
      }
      .fa {
        display: block;
      }
    }
    .collapse-body {
      .collapse-content::before {
        content: "";
        height: 0px;
        width: 0px;
        border-width: 0px 0px 16px 16px;
        border-bottom-right-radius: 5px;
        transform:rotate(45deg);
        border-left-color: transparent;
        border-bottom-color: #fc5836;
        border-style: solid;
        position: absolute;
        top: -8px;
        left: 18px;
      }
    }
    &:first-child {
      border-top: none;
    }
  }
}

.default {
  .collapse-panel {
    border-top: 1px solid $color-line;
    background-color: #fff;
    .collapse-heading {
      color: $color-main;
      .collapse-title {
      }
      .fa {
        display: block;
      }
    }
    .collapse-body {
      border-top: 1px solid $color-line;
    }
  }
}