@import '../parm';

.map-container {
	width: 100%;
	overflow: hidden;

	.location {
		padding: 10px 10px 15px;
		display: flex;
		align-items: center;
    justify-content: space-between;
    border-top: 1px solid $color-line;
    border-bottom: 1px solid $color-line;

		.nowposition {
			flex: auto;

			display: flex;
			flex-direction: column;

			.title {
				font-size: $h3-size;
				color: $color-black;
			}
			.address {
				margin-top: 2px;
				font-size: $h5-size;
				color: $color-gray;
			}
		}
		.goto {
			text-align: right;
			min-width: 90px;

			.btn {
		    height: 34px;
				padding: 10px 15px;
				font-size: $h4-size;
			}
		}
	}
}