@import '../parm';

.breadcrumbs-container {

  .breadcrumbs-cell {
    display: inline-block;
    padding: 0 12px;
    font-size: $h4;
    position: relative;
    color: $color-main;

    &:before {
      position: absolute;
      right: -4px;
      bottom: 1px;
      color: $color-line-dark;
    }
  }


}

.breadcrumbs-default {
  .breadcrumbs-cell {
    &:before{
      content: '/';
    }
  }
  >:last-child {
    color: $color-line-dark;
      &:before{
      content: none;
    }
  }
}

.breadcrumbs-primary {
  .breadcrumbs-cell {
    &:before{
      content: '>';
    }
  }
  >:last-child {
    color: $color-line-dark;
      &:before {
      content: none;
    }
  }
}