@import '../parm';

.breadcrumbs-wrapper {
  padding: 0 20px;

  .breadcrumbs-cell {
    display: inline-block;
    font-size: $h4-size;
    color: $color-main;
    cursor: pointer;

    &::after {
      content: '/';
      padding: 0 12px;
      color: $color-line-dark;
    }

    &:last-child {
      color: $color-line-dark;
      cursor: default;

      &::after {
       content: none;
      }
    }
  }

  &.breadcrumbs-arrow {
    .breadcrumbs-cell {
      &::after {
        content: '>';
      }
    }
  }
}
