@import '../parm';

.breadcrumbs-wrapper {

  .breadcrumbs-cell {
    display: inline-block;
    padding: 0 12px;
    font-size: $h4;
    position: relative;
    color: $color-main;

    &:before {
      content: '/';
      position: absolute;
      right: -4px;
      bottom: 1px;
      color: $color-line-dark;
    }
  }
}

.breadcrumbs-arrow {
  .breadcrumbs-cell {
    &:before{
      content: '>';
    }
  }
}
.breadcrumbs-wrapper,.breadcrumbs-arrow {
  >:last-child {
    color: $color-line-dark;
    &:before {
     content: none;
    }
  }
}