@import '../parm';

.attachment-wrap {
  margin: 20px;
  border: 1px solid $color-main;
  
  .attach-items {
    display: flex;

    .attach-item-left {
      margin: 10px;
      height: 50px;
      .fa {
        font-size: 2em;
        margin: 10px;
        color: #fff;
      }
    }
    .attach-item-right {
      flex: auto;
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid $color-main;
      .item-title {
        font-size: $h4-size;
        color: $color-black;
      }
      .item-size {
        font-size: $h5-size;
        color: $color-gray;
      }
      span {
        padding: 7px;
      }
    }
  }
  :last-child .attach-item-right {
    border-bottom: none;
  }
}

.excel {
  .attach-item-left {
    background: #549e3b;
  }
}
.pdf {
  .attach-item-left {
    background: #f91b00;
  }
}
.ppt {
  .attach-item-left {
    background: #ce4217;
  }
}
.zip {
  .attach-item-left {
    background: #f8b848;
  }
}
.word {
  .attach-item-left {
    background: #2162ab;
  }
}
.other {
  .attach-item-left {
    background: $color-main;
  }
}