@import '../parm';

.attachment-wrap {
  margin: 10px;
  border: 1px solid $color-main;
  padding: 10px;

  .attachment-items {
    display: flex;
    margin-bottom: 10px;

    .attachment-item-left {
      height: 50px;

      .fa {
        font-size: 3rem;
        margin: 10px;
        color: #fff;
      }
      &.excel {
        background: #549e3b;
      }
      &.pdf {
        background: #f91b00;
      }
      &.ppt {
        background: #ce4217;
      }
      &.zip {
        background: #f8b848;
      }
      &.word {
        background: #2162ab;
      }
      &.other {
        background: $color-main;
      }
    }
    .attachment-item-right {
      flex: auto;
      display: flex;
      flex-direction: column;
      margin-left: 10px;
      width: 1em;

      .item-title {
        font-size: $h4-size;
        color: $color-black;
        @include text_ellipsis;
      }
      .item-size {
        font-size: $h5-size;
        color: $color-gray;
      }
      &:after {
        content: "";
        width: 100%;
        height: 1px;
        background-color: $color-main;
        margin-top: 10px;
        padding-right: 10px;
      }
    }
  }
  :last-child {
    margin-bottom: 0;

    .attachment-item-right:after {
      content: none;
    }
  }
}

