@import '../parm';

.attachment-wrap {
  margin: 20px;
  border: 1px solid $color-main;
  
  .attachment-items {
    display: flex;
    padding: 10px 0 0 10px;

    .attachment-item-left {
      height: 50px;

      .fa {
        font-size: 3rem;
        margin: 10px;
        color: #fff;
      }
      &.excel {
        background: #549e3b;
      }
      &.pdf {
        background: #f91b00;
      }
      &.ppt {
        background: #ce4217;
      }
      &.zip {
        background: #f8b848;
      }
      &.word {
        background: #2162ab;
      }
      &.other {
        background: $color-main;
      }
    }
    .attachment-item-right {
      flex: auto;
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid $color-main;
      padding-bottom: 10px;
      margin-left: 10px;
      width: 1em;
      padding-right: 20px;
      
      .item-title {
        font-size: $h4-size;
        color: $color-black;
        @include text_ellipsis;
      }
      .item-size {
        font-size: $h5-size;
        color: $color-gray;
      }
    }
  }
  :last-child .attachment-item-right {
    border-bottom: none;
  }
}

